@model IEnumerable<AllCourseDataModel>
@{
    this.ViewData["Title"] = "Home Page";
}

<h1>Welcome</h1>
<div>Look at all the cool courses we have here.</div>
<hr />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Trainer</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Trainer</td>
                <td>@item.StartDate.ToShortDateString()</td>
                <td>@item.EndDate.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>