@model Camera
@{
    ViewData["Title"] = "Camera Info";
}
<h2>@ViewData["Title"]</h2>

<div>
    @Model.Make @Model.Model - $@Model.Price -
    @{
        if (Model.Quantity == 0)
        {
            <span style="color:red">OUT OF STOCK</span>
        }
        else
        {
            <span style="color:green">IN STOCK</span>
        }
    }
</div>
<div><a href="/users/profile/@Model.UserId">@Model.User.UserName</a></div>
<div><img src="@Model.ImageUrl" width="100" alt="@Model.Make @Model.Model" class="img-responsive" /></div>
<div>Is Full Frame: @(Model.IsFullFrame == true ? "Yes" : "No")</div>
<div>Min Shutter Speed: @Model.MaxShutterSpeed"</div>
<div>Max Shutter Speed: 1/@Model.MaxShutterSpeed</div>
<div>Min ISO: @Model.MinIso</div>
<div>Max ISO: @Model.MaxIso</div>
<div>Video Resolution: @Model.VideoResolution</div>
<div>
    Light Metering:
    <ul>
        @foreach (var item in Model.LightMetering.ToString().Split(", ", StringSplitOptions.RemoveEmptyEntries))
        {
            <li>@item</li>
        }
    </ul>
</div>
<div>Description: @Model.Description</div>