<h3>Title</h3>
<span>{{title}}</span>
<h3>Description</h3>
<span>{{description}}</span>
<h3>Publisher</h3>
<span>{{publisher}}</span>
<h3>Date Published</h3>
<span>{{datePublished}}</span>
<h3>Price</h3>
<span>{{price}}</span>
<img src="{{image}}">